extends ./layout.jade
block contenido
	a(href="/cervezas/internacionales/new")
		h1 Nueva
	h3 cervezas internacionales

	div(class="container")
		for cervezas in listaBeer
			.white.border.tr.large-padding
				.row
					.col-md-4
						h2= cervezas.nombre
					.col-md-6
						h2= cervezas.descripcion
					.col-md-2
						a(href="/app/imagenes/#{cervezas._id}/edit",class="right-space") Editar
						form(action="/app/imagenes/#{cervezas._id}/?_method=DELETE",class="link",method="post")
							input(type="submit", value="Eliminar")